<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a Post</title>
</head>
<body>
    <h1>Create a new post</h1>
    <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
        <label for="title">
            Title: <input type="text" th:field="*{title}" id="title">
        </label>
        <label for="body">
           Body: <input type="text" th:field="*{body}" id="body">
        </label>
        <input type="submit">
    </form>
</body>
</html>