<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Roll Dice</title>
</head>
<body>
<h1>Guess A Number</h1>

<button><a href="/roll-dice/1">1</a></button>
<!--<button name="number"><a href="/roll-dice/2">2</a></button>-->
<!--<button name="number"><a href="/roll-dice/3">3</a></button>-->
<!--<button name="number"><a href="/roll-dice/4">4</a></button>-->
<!--<button name="number"><a href="/roll-dice/5">5</a></button>-->
<!--<button name="number"><a href="/roll-dice/6">6</a></button>-->

</body>
</html>